/* /public/css/main.css */

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5em;
  text-align: center;
}

div#main {
  width: 80%;
  text-align: left;
}

select {
  font-size: 1.2em;
  background: transparent;
  height: 2em;
  width: 7em;
  padding: .25em;
  border: 1px solid #ccc;
} 


/** Unselected button **/
button.fbs-btn-unselected {
  background-color: #fff;
  border-color: #777;
  color: #777;
}


/** Nav bar **/
nav.fbs-navbar {
  background-color: #5bc0de;
}

nav.fbs-navbar * {
  color: #fff;
}


/** Footer **/
div.fbs-footer {
  background-color: #5bc0de;
}
div.fbs-footer * {
  color: #fff;
  /*font-size: 0.9em;*/
}


/** Players component styles **/
button.fbs-pgselect-btn {
  /*margin-right: 20px;*/
  margin-bottom: .25em;
}


/** Player styles **/
div.fbs-pgplayer-title * {
  display: inline-block;
}
div.fbs-pgplayer-title h1 {
  margin: 0 1em 0 0;
  vertical-align: middle;
}
div.fbs-pgplayer-title a {
  margin: 0 .5em 0 0;
  vertical-align: middle;
}


/* For testing position
div.fbs-pgplayer-content * {
  border: 1px solid red;
}*/
div.fbs-pgplayer-content {
  display: inline-block;
  width: 800px;
}
div.fbs-pgplayer-menu {
  position: absolute;
  display: block;
  width: 10em;
}
div.fbs-pgplayer-chart {
  position: relative;
  left: 10em;
}
div.fbs-pgplayer-chart > div {
  display: inline-block;
  padding: 2em;
  border: 1px solid blue;
}

/** Player chart selector **/
div.fbs-pgplayerchartselect {
  margin-top: 1em;
}
