/* /public/css/main.css */

/* --------------------------------------------------------------------------
   Shared components
   -------------------------------------------------------------------------- */

.test {
  border: 1px solid red;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5em;
  text-align: center;
}

body.landingPage {
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top right; 
  background-size: 100vw 100vh; 
}

div#main {
  text-align: left;
}

select {
  font-size: 1.2em;
  background: transparent;
  height: 2em;
  width: 7em;
  padding: .25em;
  border: 1px solid #ccc;
} 

div.horizonal-line {
  border-top: 2px solid #ccc;
  margin: 2em 0;
}

/** Configure bootstrap buttons **/
button.fbt-btn {
  margin-bottom: .25em;
  background-color: #0A350A;
  border: 2px solid #CCC;
}
button.fbt-btn:hover,
button.fbt-btn.focus,
button.fbt-btn:focus,
button.fbt-btn:active,
button.fbt-btn:active:focus,
button.fbt-btn:active.focus,
button.fbt-btn.active.focus {
  background-color: #EEE;
  border: 2px solid #0A350A;
  color: #0A350A;
  text-decoration: none;
  outline: 0;
}

/* --------------------------------------------------------------------------
   Nav bar
   -------------------------------------------------------------------------- */
span.fbt-navbar-brand {
  margin: 0 1.5em;
}
nav.fbt-navbar {
  background-color: #0A350A;     /* Dark Green */
  border-bottom: 1px solid #CCC;
}
nav.fbt-navbar * {
  color: #fff;
}
nav.navbar-light .navbar-nav > li > a:hover,
nav.navbar-light .navbar-nav > li > a:focus {
  background-color: #EEE;
  color: #0A350A;
}

/* Change formatting for landing page */
nav.fbt-navbar.landingPage {
  background-color: rgba(70,70,70,.55);
  border-bottom: 1px solid #CCC;
}
nav.fbt-navbar.landingPage * {
  color: #fff;
}
nav.navbar-light.landingPage .navbar-nav > li > a:hover,
nav.navbar-light.landingPage .navbar-nav > li > a:focus {
  background-color: rgba(204,204,204,.55);
  color: #fff;
}


/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */
div.fbt-footer {
  background-color: white;
  border-top: 1px solid #CCC;
}
div.fbt-footer * {
  color: #777;
}

/* Change formatting for landing page */
div.fbt-footer.landingPage {
  background-color: rgba(70,70,70,.5);
  border-top: 1px solid #CCC;
}
div.fbt-footer.landingPage * {
  color: #fff;
}


/* --------------------------------------------------------------------------
   Landing page
   -------------------------------------------------------------------------- */
div.fbt-landing {
  color: #FFF;
}
div.fbt-intro {
  margin-bottom: -1.4em;
  font-size: 1.7em;
}
div.fbt-landing-container {
  text-align: center;
}
div.fbt-landing-intro {
  margin-top: 3em;
  border: 3px solid white;
  border-radius: 10px;
  height:  225px;
  padding: 14px;
  text-align: center;
}
.fbt-landing-intro-text {
  height: 30px;
}
.fbt-landing-icon {
}
a.fbt-landing-link:hover,
a.fbt-landing-link {
  color: #fff;
}

/* --------------------------------------------------------------------------
   Player select
   -------------------------------------------------------------------------- */
div.fbt-pgselect-header {
  border-bottom: 2px solid #ccc;
}


/* --------------------------------------------------------------------------
   Player page
   -------------------------------------------------------------------------- */
div.fbt-pgplayer-title * {
  display: inline-block;
}
div.fbt-pgplayer-title h1 {
  margin: 0 1em 0 0;
  vertical-align: middle;
}
div.fbt-pgplayer-title a {
  margin: 0 .5em 0 0;
  vertical-align: middle;
}

div.fbt-pgplayer-content {
  display: inline-block;
  width: 800px;
}
div.fbt-pgplayer-menu {
  position: absolute;
  display: block;
  width: 10em;
}
div.fbt-pgplayer-chart {
  position: relative;
  left: 10em;
}
div.fbt-pgplayer-chart > div {
  display: inline-block;
  padding: 2em;
}


/* --------------------------------------------------------------------------
   Player chart selector
   -------------------------------------------------------------------------- */
div.fbt-pgplayerchartselect {
  margin-top: 1em;
}

