/* /public/css/main.css */

/* --------------------------------------------------------------------------
   Shared components
   -------------------------------------------------------------------------- */

.test {
  border: 1px solid red;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5em;
  text-align: center;
}

body.landingPage {
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right; 
  background-size: 100% 100%;
}

div#main {
  text-align: left;
}

select {
  font-size: 1.2em;
  background: transparent;
  height: 2em;
  width: 7em;
  padding: .25em;
  border: 1px solid #ccc;
} 

/** Unselected button **/
button.fbs-btn-unselected {
  background-color: #fff;
  border-color: #777;
  color: #777;
}


/* --------------------------------------------------------------------------
   Nav bar
   -------------------------------------------------------------------------- */
nav.fbs-navbar {
  background-color: #5bc0de;
  border-bottom: 1px solid #46b8da;
}
nav.fbs-navbar * {
  color: #fff;
}
nav.navbar-light .navbar-nav > li > a:hover,
nav.navbar-light .navbar-nav > li > a:focus {
  background-color: #EEE;
  color: #5bc0de;
}

/* Change formatting for landing page */
nav.fbs-navbar.landingPage {
  background-color: rgba(70,70,70,.55);
  border-bottom: 1px solid #CCC;
}
nav.fbs-navbar.landingPage * {
  color: #fff;
}
nav.navbar-light.landingPage .navbar-nav > li > a:hover,
nav.navbar-light.landingPage .navbar-nav > li > a:focus {
  background-color: rgba(204,204,204,.55);
  color: #fff;
}


/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */
div.fbs-footer {
  background-color: white;
  border-top: 1px solid #CCC;
}
div.fbs-footer * {
  color: #777;
}

/* Change formatting for landing page */
div.fbs-footer.landingPage {
  background-color: rgba(70,70,70,.5);
  border-top: 1px solid #CCC;
}
div.fbs-footer.landingPage * {
  color: #fff;
}


/* --------------------------------------------------------------------------
   Landing page
   -------------------------------------------------------------------------- */
div.fbs-landing {
  color: #FFF;
}
div.fbs-landing-container {
  text-align: center;
}
div.fbs-landing-intro {
  margin-top: 3em;
  border: 3px solid white;
  border-radius: 10px;
  height:  225px;
  padding: 14px;
  text-align: center;
}
.fbs-landing-intro-text {
  height: 30px;
}
.fbs-landing-icon {
}


/* --------------------------------------------------------------------------
   Player select
   -------------------------------------------------------------------------- */
button.fbs-pgselect-btn {
  /*margin-right: 20px;*/
  margin-bottom: .25em;
}


/* --------------------------------------------------------------------------
   Player page
   -------------------------------------------------------------------------- */
div.fbs-pgplayer-title * {
  display: inline-block;
}
div.fbs-pgplayer-title h1 {
  margin: 0 1em 0 0;
  vertical-align: middle;
}
div.fbs-pgplayer-title a {
  margin: 0 .5em 0 0;
  vertical-align: middle;
}

div.fbs-pgplayer-content {
  display: inline-block;
  width: 800px;
}
div.fbs-pgplayer-menu {
  position: absolute;
  display: block;
  width: 10em;
}
div.fbs-pgplayer-chart {
  position: relative;
  left: 10em;
}
div.fbs-pgplayer-chart > div {
  display: inline-block;
  padding: 2em;
  border: 1px solid blue;
}


/* --------------------------------------------------------------------------
   Player chart selector
   -------------------------------------------------------------------------- */
div.fbs-pgplayerchartselect {
  margin-top: 1em;
}

