
<div>
  <h1>Stats: {{playerStats[0].name}}</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Age</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>obp</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in playerStats">
        <th scope="row">{{stat.year}}</th>
        <td>{{stat.age}}</td>
        <td>{{stat.r}}</td>
        <td>{{stat.hr}}</td>
        <td>{{stat.rbi}}</td>
        <td>{{stat.sb}}</td>
        <td>{{stat.obp}}</td>
      </tr>
    </tbody>
  </table>

</div>
