<div>
  <div class="fbt-pgselect-header">
    <h1>Batters</h1>
    <h3>Select a player to analyze:</h3>
  </div>
  <br>
  <br>

  <h3>A) Choose one of our favorite players:</h3>
  <div>
    <a ng-repeat='popularPlayer in popularPlayers'
       ui-sref="pgplayer.table({pid: popularPlayer.id})">
      <button type="button" class="btn btn-info fbt-btn">
        {{popularPlayer.name}}
      </button>
    </a>
  </div>

  <br>
  <div class="horizonal-line"></div>
  <br>
  
  <h3>B) Or select a player from our full list:</h3>
  <div>
    <a ng-repeat='player in players'
       ui-sref="pgplayer.table({pid: player.id})">
      <button type="button" class="btn btn-info fbt-btn">
        {{player.name}}
      </button>
    </a>
  </div>
</div>
